{{#partial "content"}}
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="detail">Endangered Animal List</h2>
                {{#if endangeredAnimals}}
                    {{#each endangeredAnimals}}
                        <div class="animals text-white">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Animal Name:</h4>
                                    <p class="detail"> {{name}}</p>
                                    <h4>Type:</h4>
                                    <p class="detail">{{type}}</p>
                                </div>
                                <div class="col-md-6">
                                    <h4>Age:</h4>
                                    <p class="detail"> {{age}}</p>
                                    <h4>Health Status:</h4>
                                    <p class="detail">{{health}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {{/each}}
                {{else}}
                    <h3 class="text-info">No thriving animals available in the database</h3>
                {{/if}}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <form action="/new/endangered" class="p-5" method="post">
                        <h2>Add Endangered animal</h2>
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Animal Name</label>
                                    <input type="text" placeholder="Name" name="name" required class="form-control">                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="age">Animal Age</label>
                                    <select name="age" id="age" class="form-control text-info">
                                        {{#each ageTypes}}
                                            <option value="{{this}}" class="form-control text-info">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="health">Health Status</label>
                                    <select name="health" id="health" class="form-control text-info">
                                        {{#each healthStatuses}}
                                            <option value="{{this}}" class="form-control text-info">{{this}}</option>
                                        {{/each}}
                                    </select>                               </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success float-right" >SUBMIT ANIMAL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}